
 .mali {
    margin-top: 20px;
 }

h1, h2 {
    text-align: center;
    text-transform: uppercase; /*para poner mayusculas*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none; /* Retirar sublinhado nos links*/
    color: black;
}

body a:hover {
    color: grey;
}


nav{
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu{
    text-align: center;
}
.menu a{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}


.acciones {
    text-align: right;
}

.acciones button {
    margin-top: 70px;
}

.suscribirse {
    margin-right: 20px;
    background-color: black;
    border: none;
}
.sesion {
    margin-right: 20px;
    background-color: grey;
    border: none;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.destaque {
   position: relative;
}

.destaque .texto {
    position: absolute;
    top: 50px;
    left: 20px;
 }

 .logo {
    margin-left: 80px;
 }

 .looks {
    margin-bottom: 30px;
 }

hr {
    border: none; 
    height: 5px; 
    background-color: black; 
    width: 100%
 }

 .voguepag {
  text-align: center;
 }

footer {
    margin-top: 100px;
}
 
.fa-lg {
    line-height: normal;
}
.fab {
    min-width: 8% !important;
    text-align: center;
}

.revistas p {
    min-height: 50px;
}

h4 {
    text-decoration: none !important;
    color: black !important;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
}



@media (max-width: 768px) {

    .revistas {
        text-align: center;
    }

    .revistas p {
        min-height: 20px;
    }
}

@media (max-width: 992px) {
    .menu a {
        padding-left: 14px;
        padding-right: 14px;
    }    
}
